@model AMPROJECT.Models.Film

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "~/Images/noimage.jpg");
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSortie" class="control-label"></label>
                <input asp-for="DateSortie" class="form-control" />
                <span asp-validation-for="DateSortie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>

    @*     <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                  <div class="custom-file">
                    <input asp-for="PhotoPath" class="custom-file-input" />
                    <label class="custom-file-label">Choose your photo</label>
                </div>
            </div>*@
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <img class="card-img-top" src="@photoPath" width="150" height="150" asp-append-version="true" />
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
